@use "variables" as *;
@use "mixins" as *;
@forward "canvas";
@forward "overlays";
@forward "slides";
@forward "games";
@forward "header";
@forward "footer";
@forward "preloader";
@forward "customize-button";

* {
  margin: 0;
  padding: 0;
}
body,
html {
  overscroll-behavior: none;
  overflow: hidden;
}
